<div class="col-md-3">
    <a href="/admin/bannermangement/message" ><button class="btn btn-success form-control mt-3">Banner Management</button></a>
    <a href="/admin/servicemanagement/message" ><button class="btn btn-success form-control mt-3">Service Management</button></a>
    <a href="/admin/testiomnialManagemant/message" ><button class="btn btn-success form-control mt-3">Testionmials Management</button></a>
    <a href="/admin/querymanagement/message" ><button class="btn btn-success form-control mt-3">Query Management</button></a>
</div>