<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h4>Thanks!!!....Your Query is Submitted</h4>
    <p>client has been reply in coming soon</p>
    <a href="/"><button>back to Website</button></a>
</body>
</html>